{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h3>Edit content for '{{name}}' page</h3>
    <form method="post" action="/wiki/{{name}}/confirmedit">
        {% csrf_token %}
        <textarea name="edited_content">{{entry}}</textarea>
        <input type="submit" value="Confirm Edit" name="new_content">
    </form>

    <ul>
        {% for entry in entries %}
            <li>{{ entry }}</li>
        {% endfor %}
    </ul>

{% endblock %}