{% extends "auctions/layout.html" %}

{% block body %}
    <h3>Listing: {{auction.title}}</h3>

    <!--Add watchlist feature-->
    {% if user.is_authenticated %}
        {% if watchlist %}
            This item is already on your watchlist.
            <form action="{% url 'auction' auction.id %}" method="post">
                {% csrf_token %}
                <button name="watchlist" value="-watchlist">Remove From Watchlist</button>
            </form>
        {% else %}
            This item is NOT on your watchlist yet.
            <form action="{% url 'auction' auction.id %}" method="post">
                {% csrf_token %}
                <button name="watchlist" value="+watchlist">Add To Watchlist</button>
            </form>
        {% endif %}<br>
    {% else %}
        Please login to add items to your watchlist!
    {% endif %}

    <!--Display item details-->
    <h5>Item description: </h5>
    <h6>{{auction.description}}</h6>
    {% if auction.owner == user %}
        Listed By: {{auction.owner}} <strong>(you)</strong><br>
    {% else %}
        Listed By: {{auction.owner}} <br>
    {% endif %}
    Category: {{auction.category.name}} <br>
    {% if auction.image_link == "" %}
        No image to be displayed!
    {% else %}
        <img src="{{auction.image_link}}" alt="(error image link!)"><br>
    {% endif %}
    Starting Bid: ${{auction.starting_bid}} <br>
    {% if total_bids != 0 %}
        Current Highest Bid: ${{highest_bid}} (from a total of {{total_bids}} bid(s) so far)<br>
    {% else %}
        Current Highest Bid: No bids made yet<br>
    {% endif %}
    
    <!--Bid item / close bid / display winner-->
    {% if user.is_authenticated %}
        {% if auction.closed == True %}
            This auction has been closed.
            {% if highest_bid != 0 %}
                {% if auction.winner == user.username %}
                    Congratulations! You have won the bid!
                {% else %}
                    The highest bid is <strong>${{highest_bid}}</strong>, won by <strong>{{auction.winner}}</strong>.
                {% endif %}
            {% else %}
                The bid has been closed. No one won the bid.
            {% endif %}
        {% endif %}
        {% if auction.owner == user %}
            {% if auction.closed == False %}
                Your listing is currently active. <br>
                <form action="{% url 'auction' auction.id %}" method="post">
                    {% csrf_token %}
                    <button name="close_bid" value="close_bid">Close Bid</button>
                </form>
            {% else %}
                You have closed your listing.
            {% endif %}
        {% elif auction.closed == False %}
            {% if your_latest_bid == 0 %}
                You have not bid this item yet.
            {% else %}
                Your Latest Bid: ${{your_latest_bid}} <br>
            {% endif %}
            {% if error %}
                Invalid bid! Please enter a valid bid higher than the current bid!
            {% endif %}
            {% if added %}
                Bid added succesfully!
            {% endif %}
            <form action="{% url 'auction' auction.id %}" method="Post">
                {% csrf_token %}
                <input type="text" placeholder="Enter bid here" name="bid" maxlength=32 size=32>
                <button type="submit">Place Bid</button>
            </form>
        {% endif %}
    {% else %}
        Please login to place bids.<br>
        If you are the owner of the listing, please login to close the auction.
    {% endif %}<br><br>

    <!--Add & display comments-->
    {% if user.is_authenticated %}
        <h5>Comments:</h5>
        <form action="{% url 'auction' auction.id %}" method="post">
            {% csrf_token %}
            <textarea name="comment" placeholder="Enter your comment here" maxlength="256" rows=2 cols=80></textarea><br>
            <button type="submit">Add comment</button>
        </form>
    {% else %}
        Please login to add some comments. <br>
    {% endif %}
    {% for comment in comments %}
        <u>Comment by: {{comment.name.username}}</u><br>
        {{comment.comment}}<br><br>
    {% endfor %}

{% endblock %}