{% extends "auctions/layout.html" %}

{% block body %}
    <a href="{% url 'index' %}">Back To Homepage</a><br><br>
    <h3>{{auction.title}}</h3>
    <h5>{{auction.description}}</h5>
    Created By: {{auction.owner}} <br>
    Category: {{auction.category.name}} <br>
    Starting Bid: ${{auction.starting_bid}} <br>
    {% if auction.image_link == "" %}
        No image to be displayed!
    {% else %}
        <img src="{{auction.image_link}}" alt="(error image link!)">
    {% endif %}

    {% if user.is_authenticated %}

    {% endif %}

    Add to watchlist or remove it TODO
    Bid an item TODO
    Close auction (if owner of the auction)
    Inform if win auction
    Add comments

{% endblock %}