textarea {
    min-height: 400px;
}

.read_div > div {
    background-color: rgb(210, 210, 210);
    padding: 1.5%;
}

.unread_div > div {
    background-color: white;
    padding: 1.5%;
}

.email_div {
    display: grid;
    grid-template-columns: 30% 45% 24.8%;
    grid-gap: 2px;
    grid-column-gap: 1px;
    background-color: black;
    padding: 0.2%;
    margin: 0.5%;
}

.email_div:hover {
    background-color:blue;
}

.email_open_div {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 2px;
    padding: 0.2%;
    margin: 0.5%;
}

#reply:hover {
    color: rgb(161, 5, 138);
    border-color: rgb(161, 5, 138);
}

#archive:hover {
    color: rgb(13, 112, 0);
    border-color: rgb(13, 112, 0);
}

/* @keyframes move {
    from {
        left: 0%;
    }
    to  {
        left: 50%;
    }
}
#sending_email {
    position: relative;
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
} */
